* {
    box-sizing: border-box;
}

.nav_panel {
    background-color: #2C2F32 ;
    height: 100%;
    min-width: 215px;
    padding: 18px 0;
}

.nav_panel__logo {
    width: 170px;
    margin: auto;
}

.nav_panel__logo > img {
    width: 100%;
}

.nav {
    margin-top: 48px;
}

.nav > ul > li >  {
    display: flex;
}

.navLink {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #EEEEEE;
    text-decoration: none;
    width: 100%;
    padding: 15px 10px;
    display: block;
}


.navLink:focus {
    outline: none;
}

.navLink > span {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customNavLink {
    font-size: 16px;
    border-left: 3px solid #EEEEEE;
}

.customNavLink > span {
    display: flex;
    justify-content: flex-start;
}

.nav > ul > li > .navLink span:before {
    content: '';
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 5px;
}

.nav > ul > li > .navLink span:after {
    content: '143';
    font-size: 15px;
    margin-top: 5px;
    margin-left: 12px;

    
}

.nav > ul > li:nth-child(3) span:after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 0;
    display: inline-block;
    background-image: url(../../img/nav/addPlaylist.svg);
}

.nav > ul > li:nth-child(1) span:before {
    background-image: url(../../img/nav/home.svg);
}

.nav > ul > li:nth-child(2) span:before {
    background-image: url(../../img/nav/favorite.svg);
}

.nav > ul > li:nth-child(3) span:before {
    background-image: url(../../img/nav/playlist.svg);
    width: 33px;
    height: 33px;
    margin-right: -9px;
}
.active {
    background-color: #CE60F5;
}

.navPlaylist {
    margin-left: 32px;
}

.noPlaylist {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #d6d6d6;
    margin-top: 15px;
    margin-left: -8px;
}
